<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>


    <!--update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="TeamsApprover" />
    <add key="MicrosoftAppId" value="9225d0a4-2501-4ce4-b5cf-733bc5d66236" />
    <add key="MicrosoftAppPassword" value="YfkkHeeikX6NPYQpT9PaN3Q" />
    <add key="aad:ClientId" value="31b64abd-8494-4ac6-bbe1-fcbb23917678" />
    <add key="aad:ClientSecret" value="Wi1KRi65lIZ5RdG0V2bAbtamENfJe6iv/eZ5pTXUWyI=" />
    <add key="aad:Authority" value="https://login.microsoftonline.com/common" />
    <add key="aad:Callback" value="http://localhost:3979/Callback" />
    <add key="aad:ResourceID" value="https://codemoggy.com/TimeOffRequests"/>

    
     <!--update these with your BotId, Microsoft App Id and your Microsoft App Password
    <add key="BotId" value="MyTimeOffBot" />
    <add key="MicrosoftAppId" value="48d695b1-348a-4588-875c-29bc5c1526d7" />
    <add key="MicrosoftAppPassword" value="6AUBitPZ4iGVPj3veaMQfYd" />
    <add key="aad:ClientId" value="aca46c4b-fdf6-4a77-a116-3a2350dc85a6" />
    <add key="aad:ClientSecret" value="VyNBFgoysB+4MHzTcLMxXZdnRb/GVNB/AGFeqI5ARfM=" />
    <add key="aad:Authority" value="https://login.microsoftonline.com/common" />
    <add key="aad:Callback" value="https://localhost:44347/Callback" />
    <add key="aad:ResourceID" value="https://bookmarks.onmicrosoft.com/TimeOffV1API" />
    <add key="docdb:DatabaseName" value="timeoff" />
    <add key="docdb:ConversationsCollectionName" value="conversations" />
    <add key="docdb:EndpointUrl" value="https://mztimeoff.documents.azure.com:443/" />
    <add key="docdb:AuthorizationKey" value="OZi7oKi652p7iHIMpDqGwCIJbY7sJ6pxuLOucp0H6rsoIDH5pYn6EcQnbWqedKNCLNp1fkdZQmcQ9j5AHpg6fA==" />
     emulator 
      <add key="docdb:EndpointUrl" value="https://172.17.230.117:8081/" />
    <add key="docdb:AuthorizationKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />-->
  </appSettings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Builder" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.0.0" newVersion="3.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Connector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.0.0" newVersion="3.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Builder.Autofac" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.0.0" newVersion="3.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.17.0.0" newVersion="1.17.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>